@value colors: "../../stylesheets/ui-color-palette.css";
@value cyan, grey, grey300 from colors;
.BaseInput {
  padding: .5em 0 0.2em 0;
  border: 0;
  outline: 0;
  border-bottom: 1px solid grey300;
  margin: .1em 0;
  font-size: 1em;
}

.Small {
  width: 100px;
}

.Medium {
  width: 200px;
}

.Large {
  width: 250px;
}

.FullWidth {
  width: 100%;
}

.FieldContainer:focus-within .TitleField {
  color: cyan;
}

.TitleField {
  color: grey;
  display: block;
}

.InputHero {
  composes: BaseInput;
}

.Small:focus {
  animation-name: focusSmall;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  border-bottom: 2px solid cyan;
}

@keyframes focusSmall {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

.Medium:focus {
  animation-name: focusMedium;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  border-bottom: 2px solid cyan;
}

@keyframes focusMedium {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

.Large:focus {
  animation-name: focusLarge;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  border-bottom: 2px solid cyan;
}

@keyframes focusLarge {
  0% {
    width: 0px;
  }
  100% {
    width: 250px;
  }
}

.FullWidth:focus {
  animation-name: focusFullWidth;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  border-bottom: 2px solid cyan;
}

@keyframes focusFullWidth {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}