@value colors: "../../stylesheets/ui-color-palette.css";
@value grey800, indigo, pink300, cyan, grey, grey300 from colors;

.FormTitle {
  background: indigo;
  padding: .5em;
  margin: 0;
  color: white;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FormTitle > div {
  cursor: pointer;
  transition: .3s;
}

.FormTitle > div:hover {
  opacity: .8;
}

.Form {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.IdItem {
  width: 100%;
  padding: 0;
  color: grey800;
}

.BtnContainer {
  margin: .5em 0;
  padding: .5em;
  text-align: center;
}