@value colors: "../../stylesheets/ui-color-palette.css";
@value grey800, indigo, pink300, cyan, grey, grey300 from colors;

.App {
  font-family: 'Roboto', sans-serif;
  background: lightBlue;
  min-height: 100vh;
}

